* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--stone-100);
  color: var(--stone-600);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.main {
  width: clamp(300px, 100%, 750px);
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: clamp(30px, 5vw, 70px) 0px;
  padding: clamp(20px, 4vw, 40px);
  border-radius: 20px;
}

.main img {
  width: 100%;
  border-radius: 15px;
}

h1 {
  color: var(--stone-900);
  font-size: clamp(15px, 9vw, 40px);
  font-family: "Young Serif", serif;
  font-weight: 400;
  margin: clamp(20px, 3vw, 30px) 0px clamp(10px, 1.5vw, 15px) 0px;
}

h2 {
  color: var(--brown-800);
  font-size: clamp(12px, 7vw, 25px);
  font-family: "Young Serif", serif;
  font-weight: 400;
  margin: clamp(10px, 1.5vw, 15px) 0px;
}

p,
li,
td {
  line-height: 1.6;
  font-weight: 400;
}

strong {
  color: var(--stone-600);
  font-weight: 700;
}
hr {
  border: solid;
  border-width: 1px 0 0 0;
  opacity: 30%;
  margin: 20px;
}
.time {
  padding: clamp(15px, 2.5vw, 25px);
  background: var(--rose-50);
  border-radius: 15px;
  margin: 30px 0px;
}

.time h3 {
  color: var(--rose-800);
  font-size: clamp(10px, 4.6vw, 20px);
  margin-bottom: clamp(10px, 1.5vw, 15px);
}

li::marker {
  color: var(--brown-800);
  font-weight: 600;
}

li {
  margin-left: 25px;
  margin-bottom: 5px;
  padding-left: clamp(10px, 1.5vw, 15px);
}

table {
  margin-top: clamp(10px, 1.5vw, 15px);
  width: 100%;
}

td {
  border-bottom: 1px solid #ddd;
  padding: clamp(8px, 2vw, 10px) clamp(15px, 2.5vw, 25px);
}

tr:last-child td {
  border-bottom: none;
}

.value {
  color: var(--brown-800);
  font-weight: 700;
}

@media (max-width: 770px) {
  .main {
    margin: 0px;
    border-radius: 0;
    padding: 0;
    margin-bottom: 15px;
  }
  .main h1 {
    margin-top: 25px;
  }

  section {
    padding: 5px 30px;
  }
  .main img {
    border-radius: 0;
  }
}
